/* .am-pull-to-refresh .am-pull-to-refresh-down{
    z-index: 1000;
} */
/* .am-pull-to-refresh-content .am-pull-to-refresh-transition{
    position: absolute !important;
    bottom: 0 !important;
} */